{% extends 'base.html' %}

{% load static %}

{% block title %}{{ task.name }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
  <li class="breadcrumb-item"><a href="{% url 'task_reminder' task.pk reminder.pk %}">{{ task.type }}</a></li>  
  <li class="breadcrumb-item active">Add New Reminder</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Add Reminder</button>
  </form>
{% endblock %}