{% extends 'base.html' %}

{% block title %}
  {{ task.name }} - Reminder {{ reminders.pk }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
  <li class="breadcrumb-item">{{ task.title }}
  	<a href="{% url 'add_reminder' task.pk %}" class="btn btn-outline-secondary btn-sm">
	  <i class="fa fa-plus"></i> Add New Reminder for {{ task.name }}</a>
  <li>
 
{% endblock %}

{% block content %}
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Reminders</th>
		<th>Days</th>
        <th>Start Time</th>
        <th>End Time</th>
		<th>Interval</th>
        <th>Last Update</th>
      </tr>
    </thead>
	<tbody>

  </table>  
{% endblock %}